.pageContainer {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Info {
    width: 70%;
    flex-direction: column;
}

.infobox {
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

.innerBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    background-color: lightyellow;
    border-radius: 5px;
}

.title2 {
    display: flex;
    justify-content: center;
}